.subtitle
    font-size: 24px
    font-weight: 600
    margin-top: 64px
    margin-left: 48px
    margin-right: 48px
    margin-bottom: 16px
    background-color: #5a20b8
    color: #ffffff
    display: inline-block
    padding: 7px 14px
    border-right: 10px solid #42158b
