.background
    width: 100vw
    height: 50vh
    background-color: #dddddd
    background-size: cover
    margin-top: 32px

    &__credits
        text-align: right
        padding: 16px
        margin-left: 48px
        margin-right: 48px
